*{
	margin: 0;padding: 0;
}
a{
	text-decoration: none;
}
ul,li,ol{
	list-style: none;
}
.w{
	width: 1000px;
	margin: 0 auto;
}
input,button{
	outline: 0;
}
body.w{
	height: 100%;
	overflow: hidden;
	overflow-x:hidden 
}